@import "_variables";
@import "_reset";

// Insert Sass Styles

.projectBadge {
  display: inline;
}

.badgeBlock {
  display: inline-block;
}

.projectName {
  width: 300px;
  min-width: 300px;
  margin: 10px;
}

.projectView {
}

/* Attempting to match the look of the language display in Github */
.languageCell {
  font-size: 12px;
  font-weight: bold;
  color: #888;
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}
